//normalize import from node_modules
@import "../../node_modules/normalize.css/normalize";

* {
	box-sizing: border-box;
}

[data-whatintent="mouse"] *:focus {			
	outline: none;
}

[data-whatinput="keyboard"] *:focus {
	outline: 3px dotted rgb(126, 132, 235);
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	min-height: 1080px;
}

.desktop-class {
	width: 1200px;
	margin: 0 auto;
}

.mobile-class {
	min-width: 650px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

#logo {
	width: 100%;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.main {
	width: 100%;
	margin: 0 auto;
	background-color: lightcyan;
	min-height: 1500px;
}

.menu {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.menu2 {
	float: right;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

header {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.columns-btn {
	border: 0;
	padding: 10px;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.change_view {
	position: absolute;
	right: 20px;
	top: 5px;
}

.tile {
	min-height: 360px;
}

.movie_image {
	width: 200px;
	height: 285px;
	object-fit: contain;
	border-radius: 6px;
}

.movie_name {
	display: block;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
}

.movie_year {
	position: absolute;
	background-color: yellow;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 0.8em;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 0.85;
}

.movie_year_pop {
	position: absolute;
	background-color: yellow;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 0.8em;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 0.85;
}

.movie_stars {
	display: block;
	text-align: center;
	padding-top: 5px;
}

.c-tiles.c-tiles--3cols div {
	position: relative;
	float: left;
	width: 31%;
	text-align: center;
	margin: 1%;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.c-tiles.c-tiles--5cols div {
	position: relative;
	float: left;
	width: 18%;
	text-align: center;
	margin: 1%;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.c-tiles.c-tiles--2cols div {
	position: relative;
	float: left;
	width: 48%;
	text-align: center;
	margin: 1%;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.nav {
	position: absolute;
	background-color: blanchedalmond;
	padding-bottom: 20px;
	width: 100%;
	top: 0;
	z-index: 500;
	background-color: lightcyan;
	border-bottom: 3px solid lightgray;
	display: none;
}

.menu-opened {
	margin-top: 15px;
	margin-right: 20px;
	float: left;
	line-height: 1.5em;
}

#nav-open {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
	padding: 10px 15px;
	background-color: white;
	border: 0;
}

#nav-close {
	padding: 10px 15px;
	color: black;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	background-color: white;
	border: 0;
	cursor: pointer;
}

.is-show {
	display: block;
}

.star {
	color: rgb(238, 177, 24);
}

label[for="select"] {
	float: right;
	padding-top: 10px;
	margin-right: 10px;
}

.select {
	float: right;
	margin-top: 7px;
	margin-right: 20px;
}

.search {
	float: right;
	margin-right: 20px;
	padding: 7px;
}

.film-counter {
	float: left;
	margin-right: 20px;
	font-weight: bold;
}

.rating-counter {
	float: left;
	font-weight: bold;
	margin-bottom: 20px;
}

.cloud {
	float: left;
}
.cloud span {
	display: inline-block;
	margin: 5px;
	text-decoration: underline;
	cursor: pointer;
}

#menu-right {
	padding-left: 20px;
	padding-right: 20px;
}

.font-8 {
	font-size: 8px;
}

.font-12 {
	font-size: 12px;
}

.font-20 {
	font-size: 20px;
}

.font-30 {
	font-size: 30px;
}

.font-42 {
	font-size: 42px;
}

.fa-sort-up {
	position: relative;
	top: 5px;
	left: 5px;
	padding-right: 5px;
}
.fa-sort-down {
	position: relative;
	top: -3px;
	left: 5px;
	padding-right: 5px;
}

.sort {
	float: right;
	margin-top: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 10px;
}

.darktext {
	color: black;
}

.dark {
	background-color: #1e1e1e;
	color: #cccccc;
}

#addmovie input.dark,
#addmovie select.dark {
	background-color: #1e1e1e;
	color: #cccccc;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

#popup.dark {
	background-color: #1e1e1e;
	color: #cccccc;
}

button.dark,
.search.dark,
#select.dark,
#nav-open.dark,
#nav-close.dark {
	border: 1px solid #cccccc;
	background-color: #3d3d3d;
	color: #cccccc;
	border-radius: 3px;
}

#nav.dark {
	border: 1px solid #cccccc;
	background-color: #3d3d3d;
	color: #cccccc;
}

#apla {
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
}

#popup {
	min-width: 70%;
	min-height: 60%;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 20px;
	display: none;
}

@media (max-width: 1000px) {
	#popup {
		width: 100%;
		height: 100%;
		background-color: white;
		position: absolute;
		margin-bottom: 20px;
		display: none;
	}
}

#addmovie {
	width: 50%;
	border-right: 1px solid black;
	padding-right: 4%;
	margin-top: 50px;
	margin-bottom: 30px;
	float: left;
}

#addmovie input,
#addmovie select {
	float: right;
	margin: 10px;
	margin-left: 5px;
	padding: 5px;
	width: 45%;
}

#addmovie select {
	width: auto;
}

#addmovie input[type="file"] {
	width: 60%;
}

#addmovie label {
	float: right;
	margin: 10px;
	padding: 5px;
	padding-right: 0px;
}

#addmovie button {
	float: right;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
}

#addmovie p {
	text-align: left;
	font-size: 1.6em;
	margin-left: 15%;

	font-weight: bold;
}

#showform {
	background-color: rgb(27, 34, 70);
	color: white;
	border: 0;
	padding: 5px 20px;
	margin-left: 30px;
	border-radius: 3px;
	cursor: pointer;
}

#showform:hover {
	background-color: rgb(47, 41, 138);
}

#showform.dark {
	background-color: rgb(58, 81, 196);
}

#showform.dark:hover {
	background-color: rgb(61, 103, 194);
}

#addmovie #x-button {
	position: absolute;
	color: white;
	top: -12px;
	right: 20px;
	background-color: rgb(27, 34, 70);
	border: 0;
	border-radius: 3px;
	padding-right: 12px;
	padding-left: 12px;
}

#addmovie #x-button:hover {
	background-color: rgb(38, 32, 121);
}

#preview {
	width: 45%;
	float: right;
	margin-top: 50px;
	padding-right: 5%;
}

#preview img {
	display: block;
	margin: 0 auto;
}

.movie_year {
	color: black;
}

.prev {
	display: block;
	margin: 0 auto;
	color: black;
	top: 50px;
}
